* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-primary: #ffb900;
    --font-sen: "sen", sans-serif;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    background: #171100;
    border-radius: 24.5px;
    color: #ffffff;
    line-height: 50px;
    min-width: 118px;
    text-align: center;
}
.btn:hover {
    opacity: 0.9;
}
.heading {
    font-family: var(--font-sen);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}
/* ======== header ========= */
.header {
    margin-top: 26px;
    padding: 10px 0;
    position: sticky;
    z-index: 1;
    top: -1px;
    background-color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.navbar ul {
    display: flex;
    gap: 42px;
    margin-left: auto;
}
.nav-item a {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}
.action {
    margin-left: 70px;
}
.action .action-btn {
    min-width: 144px;
}
.nav-item:first-child a {
    position: relative;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}
.nav-item:first-child a::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    position: absolute;
    bottom: -3px;
    left: 0;
}
.nav-item:hover a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
/* ========= hero ========= */
.hero {
    padding: 64px 0;
}
.hero .hero-body {
    display: flex;
    align-items: center;
}
.hero-media {
    padding-right: 100px;
    position: relative;
}
.content-block {
    margin-left: 130px;
}
.content-block .heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}
.content-block .desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-top: 22px;
}
.content-block .info {
    margin-top: 38px;
}
.content-block .row-action,
.watch-video {
    display: flex;
    align-items: center;
}
.content-block .info .see-btn {
    line-height: 64px;
    min-width: 180px;
    background: var(--color-primary);
    border-radius: 32px;
    margin-right: 28px;
}
.watch-video .watch-icon {
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 14px;
}
.watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.content-block .info .desc {
    margin-top: 48px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}
.content-block .info .desc.desc-stats {
    margin-top: 0px;
}
.desc-stats strong {
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}
.desc-stats strong:last-child {
    margin-left: 28px;
}
.hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    height: 244px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 10px 24px 24px;
}
.hero-icon {
    display: flex;
    align-items: center;
    padding-top: 14px;
}
.hero-icon .icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
    border-radius: 50%;
    margin-right: 16px;
}
.hero-icon .desc .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.hero-icon .desc .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero-icon:nth-child(2) .icon {
    background-color: #fcefff;
}
.hero-icon:last-child .icon {
    background-color: #ebeaff;
}
